.App {
  text-align: center;
  padding: 15px;
  background-color: mediumaquamarine;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

/* input[type=text] {
  padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  margin: 8px;
  box-sizing: border-box;
  border: none;
  background: #f8f9fa;
  border-bottom: 2px solid #69D2AA;
}

input[type="submit"] {
    color: #343A40;
    background-color: #69D2AA;
    border-color: #69D2AA;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #343A40;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}

input[type="submit"]:hover {
  color: #fff;
} */

#body {
  height: 100%;
  padding-bottom: 20px;
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  background-color: mediumaquamarine;
}

#root {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  background-color: mediumaquamarine;
}


.url-shortener-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.url-shortener-form  > p {
  margin-top: 10vh;
  color: white;
  font-weight: bold;
  font-size: 10vh;
  width: 70vw;
}

.action {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 40vw; 
  height: 7vh;
}

.url-here {
  display: flex;
  height: 6vh;
  width: 30vw; 
  outline: none;
  border: none;
  color: gray;
}

.url-here > label {
  display: flex;
  height: 6vh;
  outline: none;
  border: none;
}

.url-here-button {
  display: flex;
  height: 100%;
  background-color: midnightblue;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
  outline: none;
  border: none;
    outline: none;
    align-items: center;
    justify-content: center;
  /* justify-content: center;
  align-items: center;
  background-color: white; */
}

.url-here-button:hover {
  background-color: rgb(34, 34, 182);
  color: mediumaquamarine;
  
}

.url-here-button:active {
  background-color: rgb(34, 34, 182);
}

.url-here-button:focus {
  outline:0;
  border: none;
    outline: none;
}

html, body, #app, #app>div {
  height: 100%
}