input[type='text'] {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin: 8px;
    box-sizing: border-box;
    border: none;
    background: #f8f9fa;
    border-bottom: 2px solid #69d2aa;
}

input[type='submit'] {
    color: #343a40;
    background-color: #69d2aa;
    border-color: #69d2aa;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

input[type='submit']:hover {
    color: #fff;
}
.reset-btn-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.short-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem;
    border: 1px solid #ccc;
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.btn-copy {
    font-size: 1rem;
    color: #ccc;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 15%;
}
.short-url {
    height: 20px;
}
.btn-copy:hover {
    color: white;
    border-bottom: 1px solid red;
    border-radius: 0;
}